body
  form(action='/person', method='POST')
    p
      | Name: 
      input(type='text', name='name', value='')
      |          Address: 
      input(type='text', name='address', value='')
      |          Phone: 
      input(type='text', name='phone', value='')
    input(type='submit', value='Submit')